.tag {
    width: max-content;
    min-width: 70px;
    max-width: 250px;
    height: auto;
    max-height: 70px;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: 15px;
    border-radius: 30px;
    gap: 10px;
    font-size: var(--medium-text-size);
    font-weight: 600;
    .tag-field {
        width: 100%;
        padding-inline: 15px;
        background: transparent;
        font-size: var(--medium-text-size);
        border: solid black 2px;
        border-radius: 30px;
        padding-block: 7px;
    }
    .tag-text {
        word-wrap: break-word;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.framework-bg {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.frontend-bg {
    background-color: greenyellow;
    color: black;
}

.backend-bg {
    background-color: aquamarine;
    color: black;
}

.programminglanguage-bg {
    background-color: red;
    color: var(--text-color);
}

.others-bg {
    background-color: royalblue;
    color: var(--text-color);
}