.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .portfolio-title {
        margin-left: 30px;
    }
    .top-navbar {
        width: 100%;
    }
    .line {
        height: 3px;
    }
    .social-icons {
        margin-right: 30px;
    }
}