.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .top-navbar {
        width: 95%;
    }
    .line {
        height: 3px;
    }
}