.social-card {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: var(--component-bg);
    border-radius: 15px;
    height: 60px;
    align-items: center;
    .icon {
        border-radius: 100px;
    }
    .link {
        font-size: var(--medium-text-size);
    }
}