.experience-card {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 30px;
    padding: 30px;
    align-items: flex-start;
    border: 2px solid var(--primary-color);
    .experience-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .experience-top {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 20px;
            .company-logo {
                align-self: flex-start;
                img {
                    height: 70px;
                    width: 70px;
                    object-fit: cover;
                    border-radius: 15px;
                }
            }
            .experience-details {
                align-self: flex-start;
                justify-content: flex-start;
                .exp-title {
                    font-weight: 500;
                    font-size: var(--large-text-size);
                }
                .comp-name {
                    font-weight: 500;
                    font-size: var(--small-text-size);
                    color: var(--secondary-color);
                }
                .duration {
                    font-size: var(--small-text-size);
                    font-weight: 500;
                    color: var(--sub-text-color);
                }
                .location {
                    font-size: var(--small-text-size);
                    font-weight: 700;
                }
                .exp-type {}
            }
        }
        .experience-bottom {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            .description {
                height: 120px;
                overflow: hidden;
                font-size: var(--small-text-size);
                white-space: pre-wrap;
                &:hover {
                    height: 100%;
                }
            }
            .skills-used {
                font-size: var(--normal-text-size);
                font-weight: 500;
            }
            .skills-container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 10px;
            }
        }
    }
    .experience-right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        gap: 10px;
        img {
            width: 120px;
            height: 70px;
            border-radius: 10px;
        }
    }
}