.add-certification {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    .title {
        padding-left: 3%;
    }
    .certification-details {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding: 30px;
        gap: 50px;
        .certification-info {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 5px;
        }
        .duration {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;
        }
    }
    .certificate-upload {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
        width: 90%;
        .upload-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
            gap: 15px;
            border: solid 3px var(--component-bg);
            border-radius: 20px;
            img {
                width: 300px;
                height: 200px;
                border: solid 3px var(--component-bg);
                border-radius: 20px;
                object-fit: contain;
            }
            button {
                width: 90%;
            }
        }
        .certification-skills {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 10px;
            padding: 30px;
            align-items: flex-start;
            .skills-container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 5px;
            }
        }
    }
    .certification-bottom {
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 30px;
        .description {
            width: 90%;
            padding: 30px;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
    }
    .bottom-buttons {
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        .submit-btn {
            width: 20%;
        }
    }
}